@media screen and ( max-width: 1200px )
  html
    font-size: 12px

  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0

@media screen and ( max-width:760px  )
  .button-up
    z-index: 500
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5.79rem
    &__section-title
      margin-bottom: 3.2rem
      margin-left: 0rem
    .section-title
      &__heading
        letter-spacing: 0px
        font-size: 1.85rem
        font-weight: 500
        margin-bottom: 19px
  .card
    &__text
      margin-left: 0px
      margin-top: -11.9rem
      max-width: 22.4rem
    &__title
      letter-spacing: 0.4px
      font-size: 1.19rem
      margin-bottom: 0.8rem
      font-weight: 500
    &__pricetag
        left: 0.2rem
        bottom: -1.09rem
        font-size: 1.19rem
        padding: 1.014rem 2.785rem
        letter-spacing: 0.3px
  // .section-title
  //     &__heading
  //       letter-spacing: 0px
  //       font-size: 1.85rem
  //       font-weight: 500
  //       margin-bottom: 19px
  .design
    background-color: $dark
    color: $light
    padding-bottom: 0
    &__card
      margin-bottom: 6.3rem
    &__section-title
      margin-left: -0.4rem
    .section-title
      &__heading
        letter-spacing: 0px
        font-size: 1.85rem
        font-weight: 500
        margin-bottom: 19px
    .card
      .card--design
        padding-right: 4.3rem
        padding-left: 3.7rem
        bottom: -1.39rem
      &__text
        padding: 0.56rem 2.64rem 0.06rem 2.64rem
      &__list
        padding: 0.1rem 0 0 1rem
        line-height: 1.92rem
        &--full
          line-height: 1.92rem
          .card__item
            &:nth-child(n+8)
              display: none
            &:nth-child(7)::after
              content: '...'
              
              
      &__title
        color: $dark
        margin-top: 0.8rem
        &--standart
          margin-top: 0.9rem
        &--full
          margin-top: 1rem
          
            
          
    .section-title
      &__discription
        margin: 0 auto
        max-width: 25.12rem
        text-transform: none
        font-family: 'Futura Book'
        font-weight: 500
        font-size: 1.26rem
        line-height: 1.7rem
        text-align: center
        padding: 1.6rem 0 1.5rem 0
        letter-spacing: -0.05px
      &__heading
        margin-bottom: 1.4rem
      
      


@media screen and ( max-width:570px  )
  .header
    font-size: 1.04rem
  .container
    width: auto
    margin: 0 18px
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    background: $dark url('../img/hero-bg-mobile.jpg')
    height: 537px
    justify-content: flex-start
    padding-top: 142px
    background-size: contain
    &__title
      font-size: 1.9rem
      margin: 0
      padding-bottom: 15px
    &__scroll-down
      display: none
    &__content
      width: auto
    &__text
      font-size: 1.5rem
      margin-bottom: 2.8rem
      line-height: 135%
    &__button
        display: block
        width: 100%
        font-size: 1rem
        font-weight: 700
        letter-spacing: 0.7px
        margin-bottom: 2.35rem


@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  .hero
    &__content
      height: 600px
      margin: 0
    &__scroll-down
      padding-top: 2rem
  .video__play
    position: relative
    margin: 142px auto







  
  

  